*
!*/
!/.config/Caprine/*
!/.config/alacritty/*
!/.config/autostart/*
!/.config/bat/*
!/.config/bottom/*
!/.config/fish/*
!/.config/flameshot/*
!/.config/fontconfig/*
!/.config/fourmolu.yaml
!/.config/gh/*
!/.config/gitui/*
!/.config/kitty/*
!/.config/kmonad/*
!/.config/lazygit/*
!/.config/lvim/*
!/.config/nitrogen/*
!/.config/nvim/*
!/.config/paru/*
!/.config/redshift/*
!/.config/rofi/*
!/.config/spotify-tui/*
!/.config/taffybar/*
!/.config/touchpad-scrolling.txt/*
!/.config/volumeicon/*
!/.config/xmobar/*
!/.config/xmonad/*
!/.config/yadm/*
!/.config/zathura/*
!README.md
